@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
}

:root {
  --white-color: rgba(222, 228, 232, 1);
  --black-color: rgba(8, 9, 10, 1);
  --blue-color: rgba(79, 127, 162, 1);
  --green-color: rgba(70, 176, 156, 1);
  --red-color: rgba(186, 12, 61, 1);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background: var(--black-color);
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.background {
  background: linear-gradient(to top, var(--black-color), var(--white-color));
  filter: blur(1px);
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

main {
  background: var(--white-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 700px;
  min-height: calc(100vh - 40px);
}

.btn {
  background: var(--white-color);
  border: none;
  border-radius: 50%;
  height: 40px;
  padding: 10px;
  transition: all 500ms;
  width: 40px;
}

.btn i {
  color: var(--black-color);
  font-size: 1.5em;
}

header {
  background-color: var(--black-color);
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  padding: 20px;
}

.top-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo img {
  height: 30px;
}

.btn-clear-all:active {
  transform: rotate(-180deg);
}

.info {
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
}

.area-add {
  background: var(--black-color);
  border-top: 1px solid var(--white-color);
  border-radius: 0 0 5px 5px;
  display: flex;
  padding: 20px;
}

.insert-todo {
  background: var(--black-color);
  border: 2px solid var(--white-color);
  border-radius: 50px;
  color: var(--white-color);
  font-size: 1.1em;
  padding: 5px 15px;
  transition: all 500ms;
  width: 100%;
}

.insert-todo::placeholder {
  color: var(--white-color);
}

.insert-todo:focus {
  background: var(--white-color);
  color: var(--black-color);
}

.insert-todo:focus::placeholder {
  color: var(--black-color);
}

.btn-add {
  margin-left: 10px;
}

.btn-add:active {
  background: var(--black-color);
}

.btn-add:active i{
  color: var(--white-color);
}

.content {
  overflow-y: auto;
  padding: 10px 20px;
}

.list {
  max-height: calc(100vh - 271px);
}

.task {
  align-items: center;
  border: 2px solid var(--black-color);
  border-radius: 5px;
  display: flex;
  list-style: none;
  margin-bottom: 10px;
}

.text {
  flex: 1;
  font-size: 1.2em;
  padding-left: 10px;
}

.btn-task {
  background: var(--black-color);
  border: none;
  font-size: 1.2em;
  padding: 10px;
}

.btn-task i {
  color: var(--white-color);
}

.btn-check:active {
  background: var(--green-color);
}

.btn-del i {
  color: var(--red-color);
}

.btn-del:active {
  background: var(--red-color);
}

.btn-del:active i {
  color: var(--white-color);
}

.checked .btn-check i{
  color: var(--green-color);
}

.checked .btn-check:active i{
  color: var(--white-color);
}

.checked .text {
  text-decoration: line-through;
}

@media (max-width: 768px) {
  main {
    margin: 0 auto;
    min-height: 100vh;
  }

  .list {
    max-height: calc(100vh - 231px);
  }
}

@media (max-width: 420px) {
  header,
  .area-add {
    padding: 20px 10px;
  }

  .content {
    padding: 10px;
  }
}